

div {
    background-color: grey;
    border: 2px solid red;
    width: 38%;
}

p {
    background-color: white;
    border: 2px dashed red;
    width: 38%;
}

#granSpan{
    background-color: antiquewhite;
    border: 2px dotted red;
    width: 30%;
    float:  right;
    margin: 10px;
}

hr {
    clear: both;
}

.spanes {
    color: white;
    background-color: grey;
    border: 2px solid black;
}