/*Elementos compartidos*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px
}

h1{
    text-align: center;
    color: black;
}


/*Tabla mp3*/
#tabla{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.caracteristica{  
    background-color: red;
    color: white;
    font-size: 30px;
}

#capacidad{
    background-color: gray;
    color: black;
    height: 30px;
    font-size: 60px;
}

.azul{
    background-color: blue;
    
}

.amarillo{
    background-color: yellow;
    font-weight: bold;
}

ul{
    color: red;
    text-align: start;
    font-weight: bold;
}

/*Tabla horarios*/ 
#horario{ 
    display: flex; 
    flex-direction: column; 
    align-items: start; 
    justify-content: center; 
} 

#titulo { 
    color: black; text-decoration: none; 
} 

#titulo:visited { 
    color: green; 
} 
#titulo:hover { 
    color: yellow; 
    text-decoration: underline; 
} 

.verde{ 
    background-color: green; 
} 

#dias{ 
    font-size: 30px; 
    font-weight: bold; 
    text-align: center; } 

#dias td::first-letter{ 
    font-size: 50px; 
} 

#recreo{ 
    background-color: yellow; 
    text-align: center; 
    font-weight: bold; 
} 

#horario tr td:last-child:hover{ 
    font-size: 1.5em; 
    transition: font-size 0.3s ease; 
    cursor: pointer; 
} 

#input {
    padding: 10px;
}

#enviarHorario{
    margin-top: 10px;
}

input[type="text"]{ 
    border: 2px solid grey; 
    padding: 4px; 
    transition: all 0.3 ease; 
} 

input input[type="text"]:hover{ 
    border: 2px solid black; 
} 

input input[type="text"]:focus{ 
    border: 3px solid black; 
    background-color: whitesmoke; 
    outline: none; 
}
