@media (min-width: 600px) and (max-width: 1200px) {
#contenedores{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
}

#contenedores div:first-child{
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contenedores div:nth-child(2){
    grid-column: 2;
    grid-row: 2;
}

#contenedores div:last-child{
    grid-column: 2;
    grid-row: 2;
}

.azul strong{
    color: blue;
}