@media (min-width: 1200px) {
sidebar {
 display: none; 
}
#contenedores{
    display: flex;
    flex-direction: row;
    align-items: center;
}

body{
    font-size: 20px;
}

.azul strong{
    color: blue;
}

}

@media (min-width: 600px) and (max-width: 1200px) {
#contenedores{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
}

#contenedores div:first-child{
    grid-column: 1;
    grid-row: 1/ span 2;
    display: flex;
    flex-direction: column;
    align-items: start;
}



#contenedores div:nth-child(2){
    grid-column: 2;
    grid-row: 1;
}

#contenedores div:last-child{
    grid-column: 2;
    grid-row: 2;
}

body{
    font-size: 16px;
}

strong{display: block;}

}
.azul strong{color: blue;}

@media (max-width: 600px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        min-height: 100vh;
        margin: 0;
    }

    #contenedor{
        max-width: auto;
        width: 100%;
        margin: auto;
    }

    #contenedores div:first-child{
    grid-column: 1;
    grid-row: 1/ span 2;
    display: flex;
    flex-direction: column;
    align-items: start;
}
strong{display: block;}

body {font-size: 14px; /* tamaño pequeño */ }

h1 {font-size: 20px; /* título reducido */}

h2 {font-size: 18px;}

}