
html{
    scroll-behavior: smooth;
}

nav{
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

nav a{
    color:black;
    font-weight: bold;
    font-size: 30px;
}

#fondos{
    height: 100vh;
    overflow: scroll;
    scroll-snap-type: y mandatory;
}

.fondo {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
}

/*fondos de las secciones*/
#section1{background-color: aqua;}

#section2{background-color: red;}

#section3{background-color: violet;}