.card-shadow {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 3);
    border: 1px solid grey;
    width: 300px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}


.card-gradient{
    background: linear-gradient(#3498db,  #1f587d);
    color: white;
}

.filtered-image{
    filter: brightness(80%) contrast(120%);
}