header{
    background-color: red;
   padding-bottom: 120px;
   border: 2px solid orange;
}

main {
    border: 2px dashed green;
}

#lista {
    display: flex;
    flex-direction: row;
    border: 2px solid red;
    padding: 20px;
}

#lista p {
    background-color: green;
    color: white;
    margin: 5px;
}

#vacia {
    padding: 10px;
}

footer {
    margin-top: 5px;
    background-color: aqua;
    padding-bottom: 40px;
    border: 2px solid blueviolet
}