body {
    font-family: Arial, sans-serif;
    color: red;
}

h1 {
    color: red;
    margin-left: 30px;
}

#miFormulario {
    margin-left: 30px;
    margin-top: 20px;
}

.contenedor {
    border: 3px dashed red;
    padding: 10px;
    width: 260px;
}

label {
    display: inline-block;
    width: 80px;
    font-size: 14px;
    vertical-align: top;
}

input[type="text"],
input[type="password"],
textarea {
    width: 150px;
    border: 2px dotted red;
    color: red;
}

.fila{
    margin-bottom: 5px;
}


textarea {
    resize: both;
    overflow: auto;
}

.grupo {
    margin-left: 80px;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.botones {
    margin-left: 10px;
    margin-top: 5px;
}

input[type="submit"],
input[type="reset"] {
    color: red;
    background-color: white;
    border: 1px dashed red;
    padding: 2px 10px;
    margin-right: 10px;
    cursor: pointer;
}